@import "tailwindcss";

/* Default */
:root {
    --navbar-height: 120px;
    --landing-height: calc(100vh - 120px);

    --gradient-hero: radial-gradient(circle at 40% 30%, rgba(63, 8, 151, 0.9), transparent 60%);
    /* --gradient-footer: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(50, 50, 50, 0.2)); */
    /* --gradient-blob1: radial-gradient(circle at 40% 30%, rgba(89, 0, 255, 0.9), transparent 60%); */

    /* --gradient-dark: linear-gradient(0deg, #000000 0%, #121212 100%); */

    --color-black: #000;
    --color-white: #fff;
}

@theme {
    --color-primary: #7c3aed;

    --color-glass-box: rgba(255, 255, 255, 0.03);
    --color-glass-box-hover: rgba(255, 255, 255, 0.05);

    --color-glass-border: rgba(255, 255, 255, 0.1);
    --color-glass-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.2),
        inset -1px 0 0 rgba(255, 255, 255, 0.1), inset 0 0 8px 2px rgba(255, 255, 255, 0.1);
}

[data-theme="light"] {
    --background: #f9fafb;
    --text-color: #111827;
    --text-muted: #6b7280;
    --color-white: #000;
    --color-black: #fff;
}

[data-theme="dark"] {
    --background: #000;
    --text-color: #eaeaea;
    --text-muted: #999;
}

body {
    background: var(--background);
    color: var(--text-color);
    padding: 0px;
    margin: 0px;
    transition: background 0.2s ease, color 0.2s ease;
}

* {
    font-family: var(--font-inter);
    z-index: 10;
}
