@import "tailwindcss";

/* Default (dark) */
:root {
    /* Variables  */
    --navbar-height: 120px;
    --navbar-height-mobile: 80px;
    --landing-height: calc(100vh - 120px);

    /* Gradients */
    --gradient-hero: radial-gradient(circle at 40% 30%, rgba(63, 8, 151, 0.9), transparent 60%);
    --gradient-hero2: radial-gradient(circle at 10% 30%, rgba(34, 8, 151, 0.9), transparent 60%);
    --gradient-hero3: radial-gradient(circle at 10% 30%, rgba(172, 20, 103, 0.8), transparent 60%);

    /* Text colors  */
    --color-white-auto: #fff;
    --color-black-auto: #000;

    /* Those colors wont change in different themes */
    --color-static-white: #fff;
    --color-static-black: #000;

    --color-text-muted: #999;

    --color-primary: #8f50fc;
    --color-secondary: #db2777;

    /* Skils  */
    --color-skill-box: rgba(255, 255, 255, 0.05);

    /* Glass box  */
    --color-glass-box: rgba(255, 255, 255, 0.05);
    --color-glass-box-hover: rgba(255, 255, 255, 0.1);

    --color-glass-border: rgba(255, 255, 255, 0.2);
    --color-glass-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.05),
        inset -1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 8px 2px rgba(255, 255, 255, 0.05);

    /* Used in skill tags  */
    --color-tag-shadow: 0px 2px 12px rgba(0, 0, 0, 0.55);

    /* Project box  */
    --color-project-box: rgb(15, 15, 15, 1);
    --color-project-box-gradient: linear-gradient(-30deg, rgba(34, 34, 34, 0.25) 0%, rgba(27, 27, 27, 0.7) 100%);
    --color-project-box-shadow: 0px 1px 5px rgb(0, 0, 0);
}

/* @theme {
} */

/* default is Dark  */
[data-theme="light"] {
    --background: #fff;
    --color-white-auto: #000;
    --color-black-auto: #fff;

    --color-skill-box: rgba(0, 0, 0, 0.03);

    --color-glass-box: rgba(247, 247, 247, 0.5);
    --color-glass-box-hover: rgba(255, 255, 255, 0.75);
    --color-glass-border: rgba(119, 119, 119, 0.2);

    --color-tag-shadow: 0px 2px 6px rgb(0, 0, 0, 0.25);

    --color-project-box: rgb(255, 255, 255);
    --color-project-box-gradient: linear-gradient(-30deg, rgba(235, 235, 235, 0.25) 0%, rgba(255, 255, 255, 0.8) 100%);
    --color-project-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

    /* --language-ball-bg: radial-gradient(circle at 20% 10%, rgba(199, 199, 199, 0.5), rgba(248, 248, 248, 0.7));
    --language-ball-shadow: -4px -4px 32px rgba(139, 139, 139, 0.1), inset 0px 0px 2px rgba(156, 155, 155, 0.8); */
}

[data-theme="dark"] {
    --background: #060606;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    padding: 0px;
    margin: 0px;
    transition: background 0.2s ease, color 0.2s ease;
}

* {
    font-family: var(--font-inter);
    /* animation-duration: 200ms; */
    /* transition: all 100ms; */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* ===== ANIMATIONS BELOW ===== */

@keyframes gradient-slide {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* Hero gradient animation  */
.custom-gradient-text {
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-secondary), #3b82f6);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-slide 6s ease infinite;
}

/* Slide up animation  */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 0.4s ease-out forwards;
}

/* === Other styles ===  */
